@CHARSET "ISO-8859-1";

#content {
    box-shadow: -4px 5px 3px rgba(0,0,0,0.12),0 1px 3px rgba(0,0,0,0.24);
    background: #FAFAFA;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    padding-top: 50px;
    min-height: 600px;
}

.content-wrapper {
    width: 100%;
}