@CHARSET "ISO-8859-1";

.footer {
	background: #5C6BC0;
    padding: 20px;
}

.footer .copyright,
.footer .social-media-area {
    justify-content: center;
	display: flex;
}

.social-medias {
	width: 280px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.social-medias .icon {
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.google-plus {
	background-image: url("../image/icons/logo-google-plus.png");
}

.youtube {
	background-image: url("../image/icons/logo-youtube.png");
}

.facebook {
	background-image: url("../image/icons/logo-facebook.png");
}