@CHARSET "ISO-8859-1";

@media all and (max-width: 500px) {
    .big-title h1 {
	    font-size: 3em !important;
	}
}

@media all and (max-width: 760px) and (min-width: 500px) {
    .big-title h1 {
	    font-size: 4em !important;
	}
}

.carousel-controller {
    position: relative;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.carousel {
    width: 80%;
    box-shadow: -4px 5px 3px rgba(0,0,0,0.12),0 1px 3px rgba(0,0,0,0.24);
}

.slide-show {
    display: inline-flex;
    justify-content: center;
}

.input-slide-toggle {
	display: flex;
    justify-content: center;
    margin-top: 10px;
}

.slide-toggle {
	width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}

.slide-toggle div {
	width: 20px;
	height: 20px;
	background-color: gray;
	margin-right: 5px;
}

.slide-show-image {
	width: 80%;
    height: 80%;
    box-shadow: -4px 5px 3px rgba(0,0,0,0.12),0 1px 3px rgba(0,0,0,0.24);
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.index-card {
	width: 300px;
	min-width: 280px;
    max-height: 500px;
}

.with-fade{
    text-overflow: ellipsis;
    position: relative;
    max-height: 215px;
    overflow: hidden;
	width: 100%;
    content: "";
}

.with-fade:before {
    background:linear-gradient(transparent 150px, white);
    position:absolute;
    height:100%;    
    content:'';
    width:100%;
    left:0;
    top:0;
}

.index-card .md-card-image {
	height: 145px !important;
}

.cards-area {
	width: 100%;
	padding-top: 100px;
	display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.map-container {
	width: 80%;
	left: 10%;
	height: 400px;
	position: relative;
	background-color: #ccc;
    box-shadow: -4px 5px 3px rgba(0,0,0,0.12),0 1px 3px rgba(0,0,0,0.24);
}

.map-location {
	border: 0;
	width: 100%;
	height: 100%;
}

.big-title.border-bottom {
	border-bottom: 1px solid #e9eaed !important;
	border-top: none;
	margin-top: 0px !important;
}

.big-title {
	height: 100px;
    display: inline-flex;
    justify-content: center;
    width: calc(100% + 20px);
    margin-left: -10px;
    align-items: center;
    border-top: 1px solid #e9eaed;
    margin-top: 30px;
    margin-bottom: 30px;
}

.big-title h1 {
	color: black;
    font-size: 5em;
    font-family: 'Muli', sans-serif;
}